## Preprocessing

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
ASK_AMT_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
ASK_AMT_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
ASK_AMT_df = ASK_AMT_df.drop(['EIN', 'NAME'], axis=1)

In [8]:
# Determine the number of unique values in each column.
unique_values = ASK_AMT_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at ASK_AMT value counts for binning
ASK_AMT_counts = ASK_AMT_df['ASK_AMT'].value_counts()
print(ASK_AMT_counts)

ASK_AMT
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: count, Length: 8747, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# First, look at APPLICATION_TYPE value counts for binning
ASK_AMT_counts = ASK_AMT_df['ASK_AMT'].value_counts()

# Next, determine which values to replace
cutoff = 100 
ASK_AMT_to_replace = ASK_AMT_counts[ASK_AMT_counts < cutoff].index.tolist()

# Then, replace in dataframe
for app in ASK_AMT_to_replace:
    ASK_AMT_df['ASK_AMT'] = ASK_AMT_df['ASK_AMT'].replace(app,"Other")

# Finally, check to make sure binning was successful
ASK_AMT_df['ASK_AMT'].value_counts()

ASK_AMT
5000     25398
Other     8901
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
CLASSIFICATION_counts = ASK_AMT_df['CLASSIFICATION'].value_counts()
print(CLASSIFICATION_counts)

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
CLASSIFICATION_counts = ASK_AMT_df['CLASSIFICATION'].value_counts()
CLASSIFICATION_counts_gt1 = CLASSIFICATION_counts[CLASSIFICATION_counts > 1]
print(CLASSIFICATION_counts_gt1)

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# First, look at CLASSIFICATION value counts for binning
CLASSIFICATION_counts = ASK_AMT_df['CLASSIFICATION'].value_counts()

# Next, determine which values to replace if their count is below a certain cutoff
cutoff = 100
CLASSIFICATION_to_replace = CLASSIFICATION_counts[INCOME_AMT_counts < cutoff].index.tolist()

# Then, replace in dataframe
for cls in INCOME_AMT_to_replace:
    ASK_AMT_df['INCOME_AMT'] = ASK_AMT_df['INCOME_AMT'].replace(cls,"Other")
    
# Finally, check to make sure binning was successful
ASK_AMT_df['INCOME_AMT'].value_counts()

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
ASK_AMT_df_dummies = pd.get_dummies(ASK_AMT_df)

# Display the first few rows of the new DataFrame to verify the transformation
ASK_AMT_df_dummies.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
1,1,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
2,1,0,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
3,1,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True
4,1,1,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,True,False,False,True

In [15]:
# Split our preprocessed data into our features and target arrays
y = ASK_AMT_df_dummies['IS_SUCCESSFUL'].values
X = ASK_AMT_df_dummies.drop(['IS_SUCCESSFUL'], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Convert data types to float32, for model training below. 
X_train = X_train.astype('float32')
X_test = X_test.astype('float32')
y_train = y_train.astype('float32')
y_test = y_test.astype('float32')

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
n_features = X_train.shape[1]
number_hidden_nodes_layer1 = 90
number_hidden_nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer1, input_dim=n_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=number_hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 90)                10620

 dense_1 (Dense)             (None, 40)                3640

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 14301 (55.86 KB)
Trainable params: 14301 (55.86 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [20]:
# Train the model
history = nn.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

644/644 [==============================] - 2s 2ms/step - loss: 0.5742 - accuracy: 0.7161 - val_loss: 0.5461 - val_accuracy: 0.7384
Epoch 2/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7261 - val_loss: 0.5431 - val_accuracy: 0.7370
Epoch 3/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5494 - accuracy: 0.7279 - val_loss: 0.5448 - val_accuracy: 0.7339
Epoch 4/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7282 - val_loss: 0.5427 - val_accuracy: 0.7397
Epoch 5/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7329 - val_loss: 0.5512 - val_accuracy: 0.7333
Epoch 6/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7323 - val_loss: 0.5450 - val_accuracy: 0.7384
Epoch 7/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7332 - val_loss: 0.5399 - val_accuracy: 0.7399
Epoch 8/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7327 - val_loss: 0.5412 - val_accuracy: 0.7407
Epoch 9/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5411 - accuracy: 0.7344 - val_loss: 0.5445 - val_accuracy: 0.7388
Epoch 10/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7320 - val_loss: 0.5428 - val_accuracy: 0.7318
Epoch 11/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7351 - val_loss: 0.5410 - val_accuracy: 0.7374
Epoch 12/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7357 - val_loss: 0.5440 - val_accuracy: 0.7312
Epoch 13/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7357 - val_loss: 0.5404 - val_accuracy: 0.7403
Epoch 14/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7378 - val_loss: 0.5412 - val_accuracy: 0.7376
Epoch 15/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7356 - val_loss: 0.5478 - val_accuracy: 0.7357
Epoch 16/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7360 - val_loss: 0.5407 - val_accuracy: 0.7378
Epoch 17/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7362 - val_loss: 0.5449 - val_accuracy: 0.7368
Epoch 18/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7363 - val_loss: 0.5423 - val_accuracy: 0.7382
Epoch 19/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7373 - val_loss: 0.5430 - val_accuracy: 0.7370
Epoch 20/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7386 - val_loss: 0.5428 - val_accuracy: 0.7370
Epoch 21/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5343 - accuracy: 0.7365 - val_loss: 0.5450 - val_accuracy: 0.7370
Epoch 22/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5340 - accuracy: 0.7360 - val_loss: 0.5461 - val_accuracy: 0.7361
Epoch 23/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7385 - val_loss: 0.5442 - val_accuracy: 0.7366
Epoch 24/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5333 - accuracy: 0.7380 - val_loss: 0.5429 - val_accuracy: 0.7382
Epoch 25/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.7392 - val_loss: 0.5458 - val_accuracy: 0.7374
Epoch 26/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.7399 - val_loss: 0.5473 - val_accuracy: 0.7392
Epoch 27/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5316 - accuracy: 0.7388 - val_loss: 0.5484 - val_accuracy: 0.7349
Epoch 28/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5319 - accuracy: 0.7380 - val_loss: 0.5464 - val_accuracy: 0.7326
Epoch 29/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.7395 - val_loss: 0.5480 - val_accuracy: 0.7378
Epoch 30/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7394 - val_loss: 0.5535 - val_accuracy: 0.7364
Epoch 31/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.7397 - val_loss: 0.5479 - val_accuracy: 0.7386
Epoch 32/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5307 - accuracy: 0.7393 - val_loss: 0.5469 - val_accuracy: 0.7372
Epoch 33/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5306 - accuracy: 0.7392 - val_loss: 0.5497 - val_accuracy: 0.7384
Epoch 34/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5299 - accuracy: 0.7392 - val_loss: 0.5501 - val_accuracy: 0.7362
Epoch 35/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5302 - accuracy: 0.7393 - val_loss: 0.5481 - val_accuracy: 0.7320
Epoch 36/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7400 - val_loss: 0.5528 - val_accuracy: 0.7394
Epoch 37/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5293 - accuracy: 0.7391 - val_loss: 0.5496 - val_accuracy: 0.7370
Epoch 38/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7408 - val_loss: 0.5537 - val_accuracy: 0.7388
Epoch 39/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5290 - accuracy: 0.7405 - val_loss: 0.5515 - val_accuracy: 0.7396
Epoch 40/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5283 - accuracy: 0.7410 - val_loss: 0.5525 - val_accuracy: 0.7382
Epoch 41/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7411 - val_loss: 0.5502 - val_accuracy: 0.7382
Epoch 42/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7399 - val_loss: 0.5499 - val_accuracy: 0.7401
Epoch 43/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5287 - accuracy: 0.7413 - val_loss: 0.5506 - val_accuracy: 0.7401
Epoch 44/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5281 - accuracy: 0.7410 - val_loss: 0.5513 - val_accuracy: 0.7378
Epoch 45/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5279 - accuracy: 0.7423 - val_loss: 0.5546 - val_accuracy: 0.7378
Epoch 46/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7401 - val_loss: 0.5552 - val_accuracy: 0.7329
Epoch 47/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7401 - val_loss: 0.5542 - val_accuracy: 0.7384
Epoch 48/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5275 - accuracy: 0.7418 - val_loss: 0.5545 - val_accuracy: 0.7353
Epoch 49/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5272 - accuracy: 0.7422 - val_loss: 0.5549 - val_accuracy: 0.7399
Epoch 50/50
644/644 [==============================] - 1s 2ms/step - loss: 0.5269 - accuracy: 0.7418 - val_loss: 0.5593 - val_accuracy: 0.7374

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 5.5561 - accuracy: 0.6097 - 282ms/epoch - 1ms/step
Loss: 5.5560784339904785, Accuracy: 0.6096792817115784

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization_4.h5")

C:\Users\sampl\anaconda3.1\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(